
/* search bar */
#search {
    margin:9px 0px 0px 2% ;
    float: left;
}
#search form {
	background:#ffffff;
    border: 1px solid #CCCCCC;
	border-radius:25px;
    height: 26px;
    padding: 0 25px;
    position: relative;
    width: 150px;
}
#search form input {
    color: #999999;
    font-size: 13px;
    height: 26px;
    text-shadow: 0 1px 0 #FFFFFF;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
	border-radius:25px;
    float: left;
    outline: medium none;
    padding: 0;
    width: 100%;
}
#search form input.placeholder, #search form input:-moz-placeholder {
    color: #C4C4C4;
}

#searchButton{
	width:75px;height:26px;border: 1px solid #c5c5c5;border-radius:25px;float:left;margin-left:20px;margin-top:9px;cursor:pointer;
	background: linear-gradient( #d5d5d5,#cbcbcb, #d5d5d5);
	text-align:center;
	font-size:15px;
	
}
#searchButton:hover{
	background:#c5c5c5;
}

.loginButton:hover{
	color:#cccccc;
}

/* login */
.login-header{width:100%;text-align:center;height:30px;font-size:24px;line-height:0px;margin-top:-26px;}
.login{opacity:1.0;width:500px;border:#ebebeb solid 1px;height:280px;display:none;background:#ffffff;box-shadow:0px 0px 20px #ddd;z-index:9999;margin-left:30%;margin-top:10%;}
.login-title{width:100%;margin:10px 0px 0px 0px;text-align:center;line-height:40px;height:40px;font-size:18px;position:relative;}
.login-title span{position:absolute;font-size:12px;right:-20px;top:-30px;background:#ffffff;border:#ebebeb solid 1px;width:40px;height:40px;border-radius:20px;}
.login-title span a{display:block;}
.login-input-content{margin-top:20px;}
.login-input {overflow:hidden;margin:0px 0px 20px 0px;}
.login-input label{float:left;width:90px;padding-right:10px;text-align:right;line-height:35px;height:35px;font-size:14px;margin-left:40px;}
.login-input input.list-input{float:left;line-height:35px;height:35px;width:300px;border:#ebebeb 1px solid;text-indent:5px;}
.login-button{width:40%;margin:30px auto 0px auto;line-height:40px;font-size:14px;border:#ebebeb 1px solid;text-align:center;}
.login-button a{display:block;}
.login-bg{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#ebebeb;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;display:none;z-index=998;}